<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Questionaire Documenation 
        AKADEMIE_FÜR_THEATER_UND_DIGITALITÄT Dortmund</title>
    <style>
        #app {
            display: flex;
            flex-direction: row;
        }
        #questionaire {
            padding: 10px;
            border: 1px red solid;
            width: 100%;
            min-height: 100px;
            display: flex;
            flex-direction: column;
        }
        #output {
            padding: 10px;
            border: 1px blue solid;
            width: 100%;
            min-height: 100px;
            overflow: scroll;
        }
        input{
            width: 95%;
            font-size: 1em;
            line-height: 1.4;
            padding: 0 7px;
        }
        #copyToClipboard_btn{
            right: 5px;
            position: absolute;
            background-color: greenyellow;
            height: 2em;
            font-size: 1.5em;
        }
        .vueMultiline{
            width: 95%;
            font-size: 1em;
            line-height: 1.4;
            padding: 0 7px;
        }
        .importantfield{
            background: rgba(255,205,205,0.3)
        }
    </style>
</head>
<body>


<button id="copyToClipboard_btn">COPY OUTPUT TO CLIPBOARD</button> 

<div id="app">

    <div id="questionaire">
        <div v-for="items in questionaire">
            <qinput v-bind:question="items" v-bind:key="items.id"></qinput>
        </div>
    </div>

<div id="output">

<!-- Sidebox Markdown plus xwiki shizzle around -->
<div v-pre>
    &lt;WRAP box 350px right :en &gt;
    <br>
    &lt;markdown&gt;
</div>

<pre id="sidebox">
**Short Overview:**
<div v-for="items in questionaire" v-if="items.sideboxOutputMethod">
<span v-html=items.sideboxoutput></span>
</div>

</pre>

<div v-pre>
    &lt;/markdown&gt;
    <br>
    &lt;/WRAP&gt;
    <br>
    &lt;markdown&gt;
    <br>
</div>
        <br>


        <!-- Main Markdown Wikipage -->
        <div v-for="items in questionaire">
            <span v-html=items.output v-if="!items.footer">
                
            </span>
        </div>
        &lt;/markdown&gt;
        <br>
        <!-- Footer outside of markdown -->
        <div v-for="items in questionaire">
            <span v-html=items.output v-if="items.footer">
                
            </span>
        </div>
    </div>
</div>

<textarea id="outputClipboard"></textarea>

<script src="vue.js"></script>
<!-- or point to a specific vue-select release -->
<script src="https://unpkg.com/vue-select@3.0.0"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-select@3.0.0/dist/vue-select.css">

<script src="node_modules/linkifyjs/dist/linkify.min.js"></script>
<script src="node_modules/linkifyjs/dist/linkify-html.min.js"></script>

<script src="index.js"></script>

</body>
</html>